[include]
	path = ~/.config/git/private.config
[alias]
	pr = pull --rebase
[pull]
	rebase = true
[fetch]
	prune = true
[advice]
	detachedhead = false
[push]
	autosetupremote = true
# [core]
# 	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = meld
[merge]
	tool = meld
[pager]
	log = false
	diff = false
